Repository ryanpedersen42/monorepo-simple: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-back, build-front

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@dev:alpha

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          mapping: |
            back/.* build-back true
            front/.* build-front true
          base-revision: origin/back-test

string
  .circleci/config.yml
Due: none

Update config.yml
  .circleci/config.yml
Due: none

testing orb dev
  .circleci/config.yml
  back/index.js
Due: build-back

change back and new orb
  .circleci/config.yml
  back/index.js
Due: build-back

updating orb version
  .circleci/config.yml
Due: none

add tests
  .circleci/config.yml
  package-lock.json
  package.json
Due: none

changes
  .circleci/config.yml
Due: none

rm that base revision and chacge dirs
  .circleci/config.yml
Due: none

change back and front
  back/index.js
  front/index.js
Due: build-back, build-front

split configs
  .circleci/config.yml
  back/.circleci/config.yml
  front/.circleci/config.yml
  front/yarn-error.log
Due: build-back, build-front

change one module
  back/index.js
Due: build-back

change names
  back/.circleci/config.yml
  front/.circleci/config.yml
Due: build-back, build-front
